@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');
body
{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
nav
{
	height: 44px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background: #000;
}
.menu
{
	position: relative;
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
.menu ul
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.menu ul li
{
	list-style: none;
}
.menu ul li,
.menu ul li a
{
	color: #fff;
	line-height: 44px;
	text-decoration: none;
}
#search
{
	position: absolute;
	right: 0;
	top: 0;
	height: 44px;
	color: #fff;
	line-height: 44px;
	font-size: 20px;
	text-align: right;
	width: 20px;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
}

.menu ul li .menu-main
{
	font-size: 35px;
	font-family: 'Brush Script MT';
	font-style: italic;
	font-weight: 700;
	color: #e0e0ff;
}
.menu ul li a.menu-item
{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}
.menu ul li a.menu-item.hide-item
{
	transform: scale(0);
}

.menu ul li:nth-child(2) a.menu-item.hide-item
{
	transition-delay: 0.2s;
}
.menu ul li:nth-child(3) a.menu-item.hide-item
{
	transition-delay: 0.1s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item
{
	transition-delay: 0s;
}

.menu ul li:nth-child(2) a.menu-item
{
	transition-delay: 0s;
}
.menu ul li:nth-child(3) a.menu-item
{
	transition-delay: 0.1s;
}
.menu ul li:nth-child(4) a.menu-item
{
	transition-delay: 0.2s;
}

.search-form
{
	position: absolute;
	top: 0;
	left: 60%;
	transform: translateX(-50%);
	width: 60%;
	height: 44px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.search-form.active
{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
	transform: translateX(-50%);	
}
.search-form input
{
	width: 100%;
	height: 44px;
	background: transparent;
	color: #fff;
	border: none;
	outline: none;
	font-size: 16px;
}
.search-form input::placeholder
{
	color: #fff;
}
.search-form:before
{
	content:'\f002';
	position: absolute;
	top: 12px;
	left: -26px;
	font-size: 18px;
	color: #fff;
	font-family: fontAwesome;
}

.close
{
	position: absolute;
	right: 0;
	top: 0;
	height: 44px;
	background: #000;
	color: #fff;
	line-height: 44px;
	font-size: 18px;
	text-align: right;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}
.close.active
{
	opacity: 1;
	visibility: visible;
}

.title
{
	font-size: 40px;
	color: #fff;
	min-height: 500px;
	background-image: url("imgs/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}